# Local binaries.
/bin/

# Local configuration.
#/etc/
/etc/diecutter.ini

# Libraries (automatically installed).
/lib/

# Data files.
/var/

# Python files.
*.pyc
/*.egg-info/
/*.egg/

# Editors' temporary buffers.
*~
.*.swp

/.tox/
